.programs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.text {
    color: rgb(74, 126, 74);
}
.stock-btn{
    color:white;
    background-color:lightpink;
    border:none;
    padding: 8px 25px;
    border-radius: 5px;
}

.stock-btn:hover {
    background-color:coral;
}
@media only screen and (max-width:576px) {
    .programs-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .programs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}