.allItems{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.item-container {
    margin-left: 80px;
}

.invent-btn {
    margin: 10px auto;
    background-color: burlywood;
    color:black;
    border: none;

}

.invent-btn:hover {
    background-color:coral;
}
    
@media only screen and (max-width:577px) {
    .allItems {
        grid-template-columns: repeat(1, 1fr);
    }
}
    @media only screen and (min-width: 577px) and (max-width: 992px) {
        .allItems {
            grid-template-columns: repeat(2, 1fr);
        }
    }








