
.card-img {
    height: 200px;
}
.card{
    display: flex;
    justify-content: space-between;
}

.update-btn{
    
        color:white;
        background-color:darkseagreen;
        border:none;
        padding: 8px 25px;
        border-radius: 5px;
    }
    
    .update-btn:hover {
        background-color:coral;
    }
